/** @format */

body {
  margin: 0;
  font-family: Quicksand;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Quicksand;
}
p{
  margin: 0;
}
.Company_Title{
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
  padding: 20px;
  max-width: 60%;
}
.Company_Title p{
  font-size: 14px;
}
.Bordered{
  border: 1px solid #e3e8e5;
  margin: 20px;
}
.empty {
  border: 1px solid #e3e8e5;
  margin-top: 30px;
}
.Invoice_Title{
  display: flex;
  justify-content: space-between;
  padding: 2%;
  align-items: center;
}
.Invoice_Title .left p{
  margin-top: 10px;
  font-size: 14px;
}
.Invoice_Title .left .email{
  color: #1ab1db;
}

.Invoice_Title .right p{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.empty2 {
  border: 1px solid #e3e8e5;
  margin-bottom: 20px;
  width: 98%;
  
}